nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #4056A1;
  color: #FFF;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-family: "Bungee", Sans-Serif;
}

#navButton {
  color: gold;
  font-family:  "Source Sans Pro", Sans-Serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }
 @keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-10px);
  }
 }



#navButton:hover{
  cursor: pointer
}

#newTweetButton {
  display: flex;
  flex-direction: column;
}

nav h2{
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 15px
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  nav{
  background-color: #45a673;
  background-image: url('../images/merely-cubed.png');
  }
}