nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #4056A1;
  color: #FFF;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-family: "Bungee", Sans-Serif;
}

#navButton {
  color: gold;
  font-family:  "Source Sans Pro", Sans-Serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

#navButton:hover{
  cursor: pointer
}

#newTweetButton {
  display: flex;
  flex-direction: column;
}

nav h2{
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 15px
}

