.new-tweet form textarea {
  resize: none;
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid;
  height: 45px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 300;
}

.new-tweet form input {
  background-color: #4056A1;
  color: #FFF;
  font-family: "Bungee", Sans-Serif;
}

.new-tweet form #counter {
  float: right;
  font-family: "Bungee", Sans-Serif;
}

.new-tweet {
  margin-bottom: 60px;
}

 #error140 {
  color: red;
  width: 100%;
  height: auto;
  border: 2px solid red;
  text-align: center;
  display: none;
  margin: 10px
}

#error0 {
  color: red;
  width: 100%;
  height: auto;
  border: 2px solid red;
  text-align: center;
  display: none;
  margin: 10px
}